.generic-header {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
    text-align: end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    z-index: 1000; 
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .logo {
    height: 80%;
  }

  .logo img {
    border-radius: 50px;
    max-height: 100%; /* Ajusta este valor según tus preferencias */
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: #ff9900;
  }
  