.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid white;
    box-shadow: 5px 5px 15px black;
 
    
  }
  
  .carousel-inner img {
    width: 1000px; /* Ancho deseado */
    height: 550px; /* Alto deseado */
    object-fit: cover; /* Ajustar el tamaño de fondo */
  }

  
 
  